body {
    font-family: 'Playfair Display SC', serif;
}

#subtextoprincipal {
    font-family: 'Instrument Serif', serif;
}

#footertexto {
    font-family: 'Karla', sans-serif;
}

#textoPeli {
    font-family: 'Karla', sans-serif;
}

